:root {
    --darkpurple: #3c1361;
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Appearance of buttons in header */
header > *{
    border: solid var(--darkpurple) 1px;
    border-radius: 10px;
    margin: 10px 5%;
    font-size: 150%;
    padding: 10px;
}

button {
    background-color: var(--darkpurple);
    color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 125%;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

#box {
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    margin: 50px 10% 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 2px var(--darkpurple);
}

#box > * {
    margin: 20px 5%;
    align-self: center;
}

#title {
    font-size: 200%;
}

#content {
    font-size: 125%;
    text-align: justify;
}

#button1, #button2, #button3, #button4, #restart, #clearScores {
    align-self: start;

}

#submit {
    font-size: 125%;
    margin: 20px;
}

footer {
    text-align: center;
    font-size: 200%;
}